<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Url Shortner</h1>
    <% if (locals.ShortId) { %>
     <p>localhost:8000/<%= ShortId %></p>
    <% } %>
    <div>
        <form action="/url" method="post">
            <label for="">Enter Your Original Url</label>
            <input type="text" placeholder="https://www.example.com" name="url" required>
            <button type="submit">Generate</button>
        </form>
    </div>
    <% if (locals.urls) { %>
        <div>
            <table>
            <thead>
                <th>Sr. No</th>
                <th>ShortId</th>
                <th>Redirect Url</th>
                <th>No of Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((url,index) => { %>
                <tr>
                    <td><%= index + 1 %></td>    
                    <td><%= url.ShortId %></td>    
                    <td><%= url.Redirect_url %></td>    
                    <td><%= url.visitHistory.length %></td>    
                </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <% } %>
</body>
</html>